<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h4>Categories</h4>
  </section>
  <!-- Main content -->
  <section class="content">

    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-body">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                  <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div>
                </div>
              </div>
              <table class="table table-bordered table-striped table-hover dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                  <tr role="row">
                    <th style="width: 18px;" class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>
                    <th style="width: 208px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                    <th style="width: 588px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending">Description</th>
                    <th style="width: 209px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th>
                  </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <tr class="odd">
                    <td class="  sorting_1">1.</td>
                    <td class=" ">Cat 1</td>
                    <td class=" ">Category 1<br></td>
                    <td class=" ">
                      <a href="http://oes.elantsys.com/admin/categories/view/75" class="btn btn-primary btn-sm toggle-modal"><i class="fa fa-eye"></i> View</a>                      <a href="http://oes.elantsys.com/admin/categories/edit/75" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i> Edit</a>                      <a class="btn btn-danger btn-sm btn_delete" rel="popover" data-placement="left" data-content="<a class='btn btn-danger btn-delete' href='http://oes.elantsys.com/admin/categories/delete/75'>
Yes I'm sure</a> <button class='btn btn-close'>No</button>" data-original-title="<b>Are you sure?</b>"><i class="fa fa-trash-o"></i>                      Delete</a>
                    </td>
                  </tr>
                  <tr class="even">
                    <td class="  sorting_1">2.</td>
                    <td class=" ">JAVA</td>
                    <td class=" ">JAVA test</td>
                    <td class=" ">
                      <a href="http://oes.elantsys.com/admin/categories/view/73" class="btn btn-primary btn-sm toggle-modal"><i class="fa fa-eye"></i> View</a>                      <a href="http://oes.elantsys.com/admin/categories/edit/73" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i> Edit</a>                      <a class="btn btn-danger btn-sm btn_delete" rel="popover" data-placement="left" data-content="<a class='btn btn-danger btn-delete' href='http://oes.elantsys.com/admin/categories/delete/73'>
Yes I'm sure</a> <button class='btn btn-close'>No</button>" data-original-title="<b>Are you sure?</b>"><i class="fa fa-trash-o"></i>                      Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-xs-6">
                  <div class="dataTables_info" id="DataTables_Table_0_info">Showing 1 to 2 of 2 entries</div>
                </div>
                <div class="col-xs-6">
                  <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination">
                      <li class="prev disabled"><a href="#">← Previous</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li class="next disabled"><a href="#">Next → </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</aside>