<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h4>Users</h4>
  </section>
  <!-- Main content -->
  <section class="content">

    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-body">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                  <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div>
                </div>
              </div>
              <table class="table table-bordered table-striped table-hover dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                  <tr role="row">
                    <th style="width: 13px;" class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-sort="ascending" aria-label=": activate to sort column descending"></th>
                    <th style="width: 109px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending">First Name</th>
                    <th style="width: 109px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending">Last Name</th>
                    <th style="width: 149px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">Email</th>
                    <th style="width: 109px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending">Phone</th>
                    <th style="width: 110px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="User Type: activate to sort column ascending">User Type</th>
                    <th style="width: 49px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                    <th style="width: 303px;" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                      rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th>
                  </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <tr class="odd">
                    <td class="  sorting_1">1.</td>
                    <td class=" ">John</td>
                    <td class=" ">Doe</td>
                    <td class=" ">john@doe.com</td>
                    <td class=" "></td>
                    <td class=" ">user <br> </td>
                    <td class=" "><span class="label label-success"> Active </span></td>
                    <td class=" ">
                      <a href="http://oes.elantsys.com/admin/users/view/4" class="btn btn-primary btn-sm toggle-modal"><i class="fa fa-eye"></i> View</a>                      <a href="http://oes.elantsys.com/admin/users/edit/4" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i> Edit</a>                      <a href="http://oes.elantsys.com/admin/users/deactivate/4" class="btn btn-warning btn-sm toggle-modal"><i class="fa fa-times"></i> Deactivate</a>                      <a class="btn btn-danger btn-sm btn_delete" rel="popover" data-placement="left" data-content="<a class='btn btn-danger btn-delete' href='http://oes.elantsys.com/admin/users/delete/4'>
Yes I'm sure</a> <button class='btn btn-close'>No</button>" data-original-title="<b>Are you sure?</b>"><i class="fa fa-trash-o"></i>                      Delete</a>
                    </td>
                  </tr>
                  <tr class="even">
                    <td class="  sorting_1">2.</td>
                    <td class=" ">Dev</td>
                    <td class=" ">user</td>
                    <td class=" ">dev@quinexinves.com</td>
                    <td class=" ">0979979998</td>
                    <td class=" ">user <br> </td>
                    <td class=" "><span class="label label-success"> Active </span></td>
                    <td class=" ">
                      <a href="http://oes.elantsys.com/admin/users/view/2" class="btn btn-primary btn-sm toggle-modal"><i class="fa fa-eye"></i> View</a>                      <a href="http://oes.elantsys.com/admin/users/edit/2" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i> Edit</a>                      <a href="http://oes.elantsys.com/admin/users/deactivate/2" class="btn btn-warning btn-sm toggle-modal"><i class="fa fa-times"></i> Deactivate</a>                      <a class="btn btn-danger btn-sm btn_delete" rel="popover" data-placement="left" data-content="<a class='btn btn-danger btn-delete' href='http://oes.elantsys.com/admin/users/delete/2'>
Yes I'm sure</a> <button class='btn btn-close'>No</button>" data-original-title="<b>Are you sure?</b>"><i class="fa fa-trash-o"></i>                      Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-xs-6">
                  <div class="dataTables_info" id="DataTables_Table_0_info">Showing 1 to 2 of 2 entries</div>
                </div>
                <div class="col-xs-6">
                  <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination">
                      <li class="prev disabled"><a href="#">← Previous</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li class="next disabled"><a href="#">Next → </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</aside>