<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li><a routerLink="/home" routerLinkActive="active" class="active"><i class="fa fa-home"></i> HOME</a></li>
            <li><a routerLink="/exams" routerLinkActive="active"><i class="fa fa-folder"></i> EXAMS</a></li>
            <li><a routerLink="/home" routerLinkActive="active" class="active"><i class="fa fa-folder-open"></i> ABOUT</a></li>
            <li><a routerLink="/home" routerLinkActive="active" class="active"><i class="fa fa-envelope"></i> CONTACT</a></li>
            <li><a routerLink="/admin" routerLinkActive="active" class="active"><i class="fa fa-cogs"></i> ADMIN</a></li>
  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>