<app-header></app-header>
<app-navigation></app-navigation>

<div class="wrapper">
  <div class="row">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item">
            <img src="./assets/images/doctype-hi-res.jpg" alt="First slide">
          </div>
          <div class="item active">
            <img src=" ./assets/images/bg_header.jpg" alt="Second slide">
          </div>
        </div>

      </div>
    </div>
    <!-- /.col -->
  </div>
  <div class="container middlecontent" style="min-height:350px">
    <h4 class="page-header">Recently added exams</h4>
    <div class="row">
      <div class="col-md-6">
        <!-- Blue tile -->
        <div class="box box-solid bg-yellow">
          <div class="box-header">
            <h3 class="box-title">aaa</h3>
          </div>
          <div class="box-body">
            <p>
              aa </p>
            <p> <a href="#" class="btn btn-info toggle-modal">Take Exam</a> </p>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-6">
        <!-- Blue tile -->
        <div class="box box-solid bg-aqua">
          <div class="box-header">
            <h3 class="box-title">dertfgyhujkl</h3>
          </div>
          <div class="box-body">
            <p>
              wsws </p>
            <p> <a href="#" class="btn btn-success toggle-modal">Take Exam</a> </p>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-6">
        <!-- Blue tile -->
        <div class="box box-solid bg-green">
          <div class="box-header">
            <h3 class="box-title">tets</h3>
          </div>
          <div class="box-body">
            <p>
              Vcbashc </p>
            <p> <a href="#" class="btn btn-danger toggle-modal">Take Exam</a> </p>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-6">
        <!-- Blue tile -->
        <div class="box box-solid bg-purple">
          <div class="box-header">
            <h3 class="box-title">Hello World</h3>
          </div>
          <div class="box-body">
            <p>
              Salam </p>
            <p> <a href="#" class="btn btn-warning toggle-modal">Take Exam</a> </p>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>

  </div>



</div>
<app-footer></app-footer>
